.navbar-fixed-top, .navbar-fixed-bottom
{
 z-index: 990;
}

.service-box-content .content ul {
    padding: 20px;
}

.service-box-content .content li {
    list-style: disc;
}

.service-box .content a {
    color: white;
}
